<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTP_BaseOptions</key>
	<dict>
		<key>MTP_AppTintColor</key>
		<string>2A142E</string>
		<key>MTP_NamePreference</key>
		<string>MeetingPlay</string>
		<key>MTP_LoginPasswordRequired</key>
		<false/>
		<key>MTP_EventConnectionGame</key>
		<false/>
		<key>MTP_LoginPINRequired</key>
		<false/>
		<key>MTP_MapCenterX</key>
		<integer>0</integer>
		<key>MTP_MapCenterY</key>
		<integer>0</integer>
		<key>MTP_QREnabled</key>
		<true/>
	</dict>
	<key>MTP_BeaconOptions</key>
	<dict>
		<key>MTP_GimbalAPIKey</key>
		<string></string>
		<key>relevantBeaconCount</key>
		<integer>4</integer>
		<key>defaultNilRSSI</key>
		<integer>-1000</integer>
	</dict>
	<key>MTP_ConferenceMenuDetails</key>
	<dict>
		<key>MTP_ConferenceMenuRemoteFolder</key>
		<string>PLC2017</string>
		<key>MTP_ConferenceMenuRemoteFilename</key>
		<string>MenuItems.json</string>
	</dict>
	<key>MTP_ThemeOptionsURL</key>
	<string>http://deploy.meetingplay.com/app-navigation/PLC2017/ThemeOptions.json</string>
	<key>MTP_PhotoUpload</key>
	<array>
		<dict>
			<key>title</key>
			<string>upload photo</string>
			<key>subtitle</key>
			<string></string>
			<key>itemDescription</key>
			<string></string>
			<key>imageURL</key>
			<string></string>
			<key>icon</key>
			<dict>
				<key>iconURL</key>
				<string></string>
				<key>fontAwesomeCode</key>
				<string></string>
			</dict>
			<key>link</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>navigationType</key>
			<integer>0</integer>
			<key>selectedTabBarIndex</key>
			<integer>0</integer>
			<key>additionalData</key>
			<array>
				<dict>
					<key>pageTitle</key>
					<string></string>
					<key>contentType</key>
					<string>MTPDisplayStylePhotoUpload</string>
					<key>pageHeaderText</key>
					<string>Upload Photo</string>
					<key>pageSubtitleDescriptionText</key>
					<string>View photos uploaded by other attendees or upload your own photo by using the link in the side navigation</string>
					<key>pageHeaderBackgroundImage</key>
					<string>menuHeaderBackground</string>
					<key>pageContentBackgroundImage</key>
					<string>backgroundTexture</string>
					<key>webviewBaseURL</key>
					<string></string>
					<key>additionalData</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
	<key>MTP_MenuItem</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>icon</key>
		<string></string>
		<key>contentType</key>
		<string>MTPContentTypeWebView</string>
		<key>webviewURL</key>
		<string></string>
	</dict>
</dict>
</plist>
